<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!-- 在body的结尾引入js -->
<script type="text/javascript" src="/res/vendors/jquery/index.js"></script>
<script type="text/javascript" src="/res/vendors/fastclick/lib/fastclick.min.js"></script>
<script type="text/javascript" src="/res/vendors/jquery_lazyload/jquery.lazyload.js"></script>
<script type="text/javascript" src="/res/vendors/velocity/velocity.min.js"></script>
<script type="text/javascript" src="/res/vendors/velocity/velocity.ui.min.js"></script>
<script type="text/javascript" src="/res/vendors/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/res/js/src/utils.js"></script>
<script type="text/javascript" src="/res/js/src/motion.js"></script>
<script type="text/javascript" src="/res/js/src/bootstrap.js"></script>
<script type="text/javascript" src="/res/js/src/scrollspy.js"></script>